In [ ]:
import pandas as pd
import sqlite3

# **Exercise 1:**

---

# **Exercise 2:**

----

# **Exercise 3:Set up connections to sqllite**

In [ ]:
# Path to your SQLite database
database_path = 'HumanRes.db'

# Create a connection to the database
conn = sqlite3.connect(database_path)

# SQL query you want to execute
query = "SELECT * FROM employees"

# Use pandas to read the SQL query
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

df

---

# **Exercise 4:**

In [1]:
#write your code here.
#Exercice 1: 


def ReverseString(s):
    # Ensure the input is indeed a string
    if not isinstance(s, str):
        return 'Error: Input must be a string'

    # Reverse the string using slicing
    return s[::-1]

# Test the function with an example string
result = ReverseString("Hello")
print(result)

olleH

In [2]:
ReverseString('category')

'yrogetac'

In [4]:
#write your code here.
#Exercice 2:

def FindGreatestCommonDivisor(a, b):
    # Check if the numbers are positive integers
    if not (isinstance(a, int) and isinstance(b, int)):
        return 'Error: Both inputs must be integers'

    if (a <= 0) or (b <= 0):
        return 'Error: Both numbers must be greater than zero'

    # Euclidean algorithm for finding the GCD
    while b:
        a, b = b, a % b
    return a

# Test the function with example numbers
result = FindGreatestCommonDivisor(12, 18)
print(result)

6

In [5]:
FindGreatestCommonDivisor(4,40)

4

In [7]:
#write your code here.
#Exercice 3:

def CalculateFactorial(n):
    # Check if the input is a positive integer
    if not isinstance(n, int) or n < 0:
        return "Error: Input must be a non-negative integer."

    # Start with 1 as the initial factorial value for 0 or 1
    factorial = 1

    # Calculate the factorial iteratively
    for i in range(1, n + 1):
        factorial *= i

    return factorial

# Test the function with an example number
result = CalculateFactorial(5)
print(result)

120

In [8]:
CalculateFactorial(32)

263130836933693530167218012160000000

# **Exercise 5:**

In [ ]:
#1. Find the names and salaries of all employees whose salary is between 9000 and 10000.

--"""
--sql

SELECT first_name, last_name, salary
FROM employees
WHERE salary BETWEEN 9000 AND 10000;

;
"""

In [ ]:
# 2. Find the names, salaries, and department numbers of all employees whose salary is higher than 8000.

--"""
--sql

SELECT first_name, last_name, salary, department_number
FROM employees
WHERE salary > 8000;

;
"""

In [ ]:
# 3. Find the names of all employees who work in the Sales department
--"""
--sql

SELECT e.first_name, e.last_name
FROM employees e
INNER JOIN departments d ON e.department_id = d.department_id
WHERE d.department_name = 'Sales';


;
"""

In [ ]:
#4. Find the names and salaries of all employees who have been hired before September 1987

--"""
--sql
SELECT first_name, last_name, salary
FROM employees
WHERE hire_date < '1987-09-01';


;
"""

In [ ]:
#5. Find the names and salaries of the highest-paid employees in each department.

--"""
--sql

SELECT e.department_id, e.first_name, e.last_name, e.salary
FROM employees e
INNER JOIN (
    SELECT department_id, MAX(salary) AS max_salary
    FROM employees
    GROUP BY department_id
) max_salaries
ON e.department_id = max_salaries.department_id
AND e.salary = max_salaries.max_salary;



;
"""

In [ ]:
#6. Find the average salary (of all employees) in each department.

--"""
--sql

SELECT department_id, AVG(salary) AS avg_salary
FROM employees
GROUP BY department_id;

;
"""

In [ ]:
#7. Find the total number of employees in each department.

--"""
--sql

SELECT department_id, COUNT(*) AS total_employees
FROM employees
GROUP BY department_id;

;
"""

In [ ]:
#8. Find the names and salaries of all employees who have a manager who earns more than them.

--"""
--sql

SELECT e1.first_name, e1.last_name, e1.salary
FROM employees e1
INNER JOIN employees e2 ON e1.manager_id = e2.employee_id AND e1.salary < e2.salary;

;
"""

In [ ]:
#9. Write a SQL query to find those employees whose first name contains the letters D, S, or N. Sort the result-set in descending order by salary. Return all fields.

--"""
--sql

SELECT *
FROM employees
WHERE first_name LIKE '%D%' OR first_name LIKE '%S%' OR first_name LIKE '%N%'
ORDER BY salary DESC;

;
"""

In [ ]:
# 10. Return full name (first name and last name together), hire_date, salary and department_id of each employee
--"""
--sql

SELECT CONCAT(first_name, ' ', last_name) AS full_name, hire_date, salary, department_id
FROM employees;

;
"""

# **When you are done, save it as an .ipynb file and submit by email to  rockefellerr@cput.ac.za**

## All the best!